.gradle
.idea
gradle/*
gradle/wrapper/*
!gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.properties
!gradle/sonar.gradle
build

libs
verifier-all.jar

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

.DS_Store
**/.DS_Store

# VS Code files
bin
.vscode
